<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="Tailer.SearchPaths" value="C:\ProgramData\chocolatey\bin\wintail.exe;" />
  </appSettings>

  <nlog throwsExceptions="true"
        xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="defaultLayout" value="${longdate} ${level:uppercase=true:padding=5} | ${message} | ${exception:format=tostring}" />
    <targets>
      <target name="ColorConsole" xsi:type="ColoredConsole" layout="${defaultLayout}" />
      <target  name="TraceOut" xsi:type="Trace" layout="" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="ColorConsole,TraceOut" />
    </rules>
  </nlog>
</configuration>